.footer {
  background-color: #6278f7;
  color: #ffffff;
  padding: 80px;
  background-image: url("/public/assets/fundo.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
